div.popup .factory_description {
  border-bottom: 1px dotted silver;
  font-size: 95%;
  padding: 12px 0; }
  div.popup .factory_description h4 {
    color: green;
    font-size: 120%;
    margin-top: 0px;
    margin-bottom: 8px; }
span.part_description {
  display: block;
  font-size: 80%;
  margin-top: 8px;
}