.description
  %span.info
    - if @page and not @page.page_factory.nil?
      = @page.page_factory.parts.detect { |p| p.name.downcase == page_part.name.downcase and p.class == page_part.class }.try :description