- content_for :page_css do
  :sass
    .part_description
      font-size: 80%
      font-weight: bold
      white-space: nowrap
      display: inline-block
      width: 50%
      padding-left: 5%

%span.part_description
  = description_for(page_part)
