.popup
  %h3.title= t('add_child')
  .reference
    = render :collection => @factories, :partial => 'admin/factory_link/page_factory'
  %p.close_link= link_to_function t('cancel'), "$(this).closePopup()"